#uc-cart-checkout-form ul.ui-tabs-nav{
  width: 100%;
  height: 25px;
}



#uc-cart-checkout-form li.ui-state-default{
  display: block;
  float: left;
  list-style-type: none;
  background: none;
  margin-left: 10px;	
}


#uc-cart-checkout-form li.ui-tabs-selected{
  font-weight: bold;
  background: none;
  float: left;
}

#uc-cart-checkout-form .ui-tabs-hide{
  display: none;
}